@charset "unf-8";
*{
    box-sizing: border-box;
}

#wrap {width: 100%; margin: 0 auto;}
/*nav*/
#nav {
    max-width: 1920px; margin: 0 auto;height: 85px; line-height: 50px; _background: white;}
#nav .nav_log{ 
    padding-top: 40px; padding-bottom: 40px; text-align: center; 
     
}

#nav .nav_sub ul li {
        width: 310px;
        float: left; 
        text-align: center;
        position: relative;
        z-index: 1; 
     
}
#nav .nav_sub ul li a {color: #777; text-align: center; }
#nav .nav_sub>ul>li:nth-child(3) a {
    color: skyblue;
}
#nav .nav_sub>ul>li:nth-child(3) .nav_sub1 a{color: #777;}
#nav .nav_sub>ul>li:nth-child(4) a {
    color: hotpink;
}
#nav .nav_sub>ul>li:nth-child(4) .nav_sub1 a{color: #777;}
#nav .nav_sub ul li:hover .nav_sub1{
    opacity: 0.5;
    display: block;
}
#nav ul li:hover .nav_sub li a{color: #111; }

#nav ul li .nav_sub1{
    display: none; z-index: 1;
    position: absolute;
}
#nav_sub li {width: 100%; background: #eee;}
#nav ul li .nav_sub1 li:hover { background: #111;
    
}
#nav ul li .nav_sub1 li:hover a{ color: #fff;
    
}
