@charset "unf-8";

* {
  box-sizing: border-box;
}

#wrap {
       width: 100%;
       margin: 0 auto;
 }

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Helvetica";
  text-align: center;
}


/* header */
#header{
    max-width: 1200px; margin: 0 auto;
}
#header .munu .img{
    max-width: 1200px;
    width: 100%;
}
#header .menu img {
    _vertical-align: middle;
    float: left;
    
}
#header .menu {
  width: 100%;
  float: right;
  list-style: none;
  text-align: center;
}


#header .menu ul {
    float: right;
}
#header .menu ul li{
    
    float: left;
    margin-left: 25px;
}
#header .menu ul li a{
    font-weight: bold;
    float: right; padding: 10px; height: 30px;
}




#header .menu li a {
  color: #545454;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
    float: right;
}

#header .menu_list {
    width: 100%;
    float: left;
    text-align: center;
}

#header .menu_list ul {
    float: right;
    margin-left: 13px;
}

#header .menu_list ul li{
    float: left;
}
#header .menu_list ul li a{
    float: right; padding: 10px; height: 30px;
}
/* wrapper*/
#wrapper {
    border-bottom: 1px solid #000;
    padding: 15px;
}





